In [2]:
# 제어문
val = 10

if val > 5:
    print("val is bigger than 5")

val is bigger than 5

In [3]:
val = 1

if val > 5:
    print("val is bigger than 5")

In [4]:
# tab 을 잘못입력 하였을 경우 아래와같이 지멋대로 나옴  
val = 1

if val > 5:
    print("test")
    
print("val is bigger than 5")

val is bigger than 5

In [5]:
money = 10

if money > 100:
    item = "apple"
else: 
    item = "banna"
        
print(item)

banna

In [6]:
score = int(input(('input Score: ')))

if 90 <= score <= 100:
    grade = "A"
elif 80 <= score < 90:
    grade = "B"
elif 70 <= score < 80:
    grade = "C"
elif 60 <= score < 70:
    grade = "D"
else:
    grade = "F"
    
print("점수 통보!~ 등급  = " + grade)

input Score: 49
점수 통보!~ 등급  = F

In [7]:
# 수학, 영어, 국사 시험을 봤다.
# 각각의 점수를 입력하여 토탈 평균이 60점 미만이며
# 또한 각 과목의 점수들이 50점 미만인 경우에도 탈락 처리를 하도록 한다.
math = int(input(('math Score: ')))
english = int(input(('english Score: ')))
history = int(input(('history Score: ')))

mean = (math + english + history) / 3

if(math >= 50 and english >= 50 and history >= 50 and mean >=60):
    print("합격")
else:
    print("불합격")

print("점수 평균 = ", mean)

math Score: 49
english Score: 59
history Score: 60
불합격
점수 평균 =  56.0

In [8]:
val = 5

while val > 0:
    print(val)
    val -= 1

5
4
3
2
1

In [9]:
lists = ["Apple", 100, 15.33]

for i in lists:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.33 <class 'float'>

In [10]:
numList = {1,2,3,4,5,6,7,8,9,10}

for i in numList:
    if i > 5:
        break
    print("Item: {0}".format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [11]:
for i in numList:
    if i % 2 == 0:
        continue
    print("Item: {0}".format(i))

Item: 1
Item: 3
Item: 5
Item: 7
Item: 9

In [16]:
#range_num = range(10)
#range_list = list(range_num)
#print(range_list)

print(list(range(10)))
#range() 는 괄호안에 개수를 뽑아내는데 0부터 뽑아냄

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 5부터 10미만 5 ~ 9
print(list(range(5,10)))

[5, 6, 7, 8, 9]

In [18]:
# 10 부터 0까지 1씩 감소
print(list(range(10, 0, -1)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
# 10부터 20까지 2씩 증가
print(list(range(10, 20, 2)))

[10, 12, 14, 16, 18]

In [20]:
# 1부터 11미만 (1 ~ 10)
numList = list(range(1,11))

print(numList)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
strList = ["Apple", "Orange", "Grape", "Banana"]

for i in range(len(strList)):
    print("idx: {0}, val: {1}".format(i,strList[i]))
    # {0} 이 format() 의 i 를 출력
    # {1} 은 strList[i] 값을 출력

idx: 0, val: Apple
idx: 1, val: Orange
idx: 2, val: Grape
idx: 3, val: Banana

In [22]:
varList = [100, 33.7, "Grape"]

for i in enumerate(varList):
    print(i)

(0, 100)
(1, 33.7)
(2, 'Grape')

In [26]:
numList1 = [3, 4, 5]
numList2 = [1.5, -0.5, 4]

resLists = [x * y for x in numList1 for y in numList2]
# numList1을 x 에
# numList2을 y 에 넣고 x * y 곱하여 출력
print(resLists)
print(type(resLists))

[4.5, -1.5, 12, 6.0, -2.0, 16, 7.5, -2.5, 20]
<class 'list'>